    <!-- ===== START: Marquee Banner ===== -->
    <section class="marquee-section">
        <div class="marquee-content">
            <!-- First Set -->
            <div class="marquee-track">
                <img src="{{ theme_uri }}/assets/img/Frame.png" alt="" class="star-icon">
                <p class="marquee-text">هتسأل وهتلاقي رد</p>

                <img src="{{ theme_uri }}/assets/img/Frame.png" alt="" class="star-icon-small">
                <p class="marquee-text">برمجة من غير تعقيد</p>

                <img src="{{ theme_uri }}/assets/img/Frame.png" alt="" class="star-icon-small">
                <p class="marquee-text">تعلم ببساطة</p>

                <img src="{{ theme_uri }}/assets/img/Frame.png" alt="" class="star-icon-small">
                <p class="marquee-text">برمجة</p>

                <img src="{{ theme_uri }}/assets/img/Frame.png" alt="" class="star-icon-small">
                <p class="marquee-text">كتاب تقدر تذاكر منه</p>

                <img src="{{ theme_uri }}/assets/img/Frame.png" alt="" class="star-icon-small">
                <p class="marquee-text">برمجة من غير تعقيد</p>

                <img src="{{ theme_uri }}/assets/img/Frame.png" alt="" class="star-icon-small">
                <p class="marquee-text">ذاكر معاي</p>
            </div>

            <!-- Duplicate Set for Seamless Loop -->
            <div class="marquee-track">
                <img src="{{ theme_uri }}/assets/img/Frame.png" alt="" class="star-icon">
                <p class="marquee-text">هتسأل وهتلاقي رد</p>

                <img src="{{ theme_uri }}/assets/img/Frame.png" alt="" class="star-icon-small">
                <p class="marquee-text">برمجة من غير تعقيد</p>

                <img src="{{ theme_uri }}/assets/img/Frame.png" alt="" class="star-icon-small">
                <p class="marquee-text">تعلم ببساطة</p>

                <img src="{{ theme_uri }}/assets/img/Frame.png" alt="" class="star-icon-small">
                <p class="marquee-text">برمجة</p>

                <img src="{{ theme_uri }}/assets/img/Frame.png" alt="" class="star-icon-small">
                <p class="marquee-text">كتاب تقدر تذاكر منه</p>

                <img src="{{ theme_uri }}/assets/img/Frame.png" alt="" class="star-icon-small">
                <p class="marquee-text">برمجة من غير تعقيد</p>

                <img src="{{ theme_uri }}/assets/img/Frame.png" alt="" class="star-icon-small">
                <p class="marquee-text">ذاكر معاي</p>
            </div>
        </div>
    </section>
    <!-- ===== END: Marquee Banner ===== -->